body{
  background-color: aliceblue;
  font-family:"Moderustic",'Times New Roman', Times, serif;
}

.navbar {
   background-color: #4d78ef61;
}

.container {
   padding: 50px;
}

.header {
   padding: 20px
}

.starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
 }

  .btn {
    background-color:rgb(0, 44, 139);
    color: antiquewhite;
  }
 .h2 {
    color: black;
    font-weight: bold;
    position: static;
    
      font-family:"Moderustic",'Times New Roman', Times, serif;
   }
 .header{
  text-align: center;
  font-family:"Moderustic",'Times New Roman', Times, serif;
 }
 .opening-text{
  text-align: center;
  font-family:"Moderustic",'Times New Roman', Times, serif;
 }
 
 
 .map-container {
    position: relative;
    width: fit-content;
    margin: auto;
 }

 .map-container img {
   height: 70vh;
 }

 .p{
   font-family:"Moderustic",'Times New Roman', Times, serif;
    }

 .hotspot {
   position: absolute;
   border-radius: 100%;
   padding: 8px;
   transition: padding 0.5s ;
   border-color: blue;
   border-style: solid;
   background-color: yellow;
 }

 .hotspot:hover {
   background-color: rgb(120, 120, 196);
   padding: 10px 
}
#btn-chios {
   top:47%;
   left:70%; 
   }

#btn-meteora {
   top:29%;
   left:22%;
}
#btn-tinos {
   top: 57.5%;
   left: 59.84%; 
}

.carousel-item {
   height: 400px
}

.carousel-item-img {
   margin: auto;
   height: 100%;
   display: block;
}

.accordion-header{
   font-weight: bold;
}

#about-us-img{
   height: 400px;
   display: block;
   margin: auto
}

.city-title {
   margin: auto;
   width: fit-content;
   padding-bottom: 30px
}

.city-info-list {
   padding-bottom: 40px
}
.city-info-list li {
   padding-bottom: 10px
}

.card-container {
   display: flex
}

.card-container .card {
padding: 10px;
margin: 5px
}