body{
  background-color: aliceblue;
  font-family:"Moderustic",'Times New Roman', Times, serif;
}

.container {
   padding: 50px;
}

.starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
 }

  .btn {
    background-color:darkcyan;
    color: antiquewhite;
  }
 .h2 {
    color: black;
    font-weight: bold;
    position: static;
    
      font-family:"Moderustic",'Times New Roman', Times, serif;
   }
 .header{
  text-align: center;
  font-family:"Moderustic",'Times New Roman', Times, serif;
 }
 .opening text{
  text-align: center;
  font-family:"Moderustic",'Times New Roman', Times, serif;
 }
 
 
 .map-container {
    position: relative;
    width: fit-content;
    margin: auto;
 }
 .p{
   font-family:"Moderustic",'Times New Roman', Times, serif;
    }
 .hotspot {
   position: absolute;
   border-radius: 100%;
   padding: 8px;
   transition: padding 0.5s ;
   border:none;
   background-color: rgb(173, 173, 241);
 }

 .hotspot:hover {
   background-color: rgb(120, 120, 196);
   padding: 10px 
}
   #btn-chios {
   top:47%;
   left:70%; 
}
#btn-meteora {
   top:29%;
   left:22%;
}
#btn-tinos {
   top: 57.5%;
   left: 59.84%; 
}

.carousel-item {
   height: 400px
}

.carousel-item-img {
   margin: auto;
   height: 100%;
   display: block;
}

.accordion-header{
   font-weight: bold;
}